fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
pydantic==2.9.2
pydantic-settings==2.5.2
requests==2.32.3
python-docx==1.1.2
pypdf==4.3.1
numpy
sentence-transformers==3.1.1
python-dotenv==1.0.1
bcrypt==4.2.0
email-validator
firebase-admin
resend==2.2.1
psycopg2-binary==2.9.9  
 